<!-- templates/paginas/add_pontos.html -->
{% extends "paginas/modelo.html" %}

{% block titulo %}
    <title>Clientes</title>
{% endblock titulo %}

{% block conteudo %}
    <div class="container" >
        <center>
            <h1>Clientes</h1>
            
            <!-- Adicione o formulário de busca -->
            <form method="get" action="{% url 'paginas:add_pontos' %}">
                <label for="termo_busca">Buscar por Nome ou CPF:</label>
                <input type="text" id="termo_busca" name="termo_busca" required>
                <button type="submit">Buscar</button>
            </form>

            <ul>
                {% for cliente in clientes_encontrados %}
                    <li>
                        {{ cliente.nome }} - CPF: {{ cliente.cpf }} - Pontos: {{ cliente.pontos }} - Saldo: R$ {{ cliente.saldo|floatformat:2 }}
                        <form method="post" action="{% url 'paginas:adicionar_pontos' cliente.id %}">
                          {% csrf_token %}
                          <label for="valor_adicionar">Adicionar valor:</label>
                          <input type="text" id="valor_adicionar" name="valor_adicionar" required>
                          <button type="submit">Adicionar Pontos</button>
                      </form>
                    </li>
                {% endfor %}
            </ul>
        </center>
    </div>
{% endblock conteudo %}
