<!-- templates/clientes/adicionar_pontos.html -->
{% extends "paginas/modelo.html" %}

{% load static %}

{% block titulo %}

    <title>Adicionar Pontos</title>

{% endblock titulo %}


{% block conteudo %}

  <div class="container" >

    <h1>Adicionar Pontos</h1>
      <form method="get" action="{% url 'clientes:adicionar_pontos' %}">
        <label for="search_query">Buscar Cliente por Nome ou CPF:</label>
        <input type="text" id="search_query" name="search_query" required>
        <button type="submit">Buscar</button>
      </form>

    {% if cliente %}
      <h2>Cliente Encontrado</h2>
        <p>Nome: {{ cliente.nome }}</p>
        <p>CPF: {{ cliente.cpf }}</p>
        <form method="post" action="{% url 'clientes:adicionar_pontos' cliente.id %}">
          {% csrf_token %}
          <label for="valor_adicionar">Valor a Adicionar:</label>
          <input type="text" id="valor_adicionar" name="valor_adicionar" required>
          <button type="submit">Adicionar Pontos</button>
        </form>
    {% endif %}
  </div>
  {% comment %} <a href="{% url 'clientes:index' %}">Voltar para a página inicial</a> {% endcomment %}
{% endblock conteudo %}
