<!-- templates/paginas/home.html -->
{% extends "paginas/modelo.html" %}

{% load static %}

{% block titulo %}
    <title>Home</title>
{% endblock titulo %}

{% block conteudo %}
    <div class="container" >
        <center>
        <h3>Seja bem-vindo! </h3>
       
        <p>Sistema de login.</p>
        {% comment %} <a href="{% url 'paginas:adicionar_cliente' %}">Adicionar clientes</a> {% endcomment %}
        {% comment %} <a href="{% url 'paginas:adicionar_pontos' %}">Adicionar Pontos</a> {% endcomment %}
            
        

        </center>
    </div>
{% endblock conteudo %}
